:root {
  /* 默认宽度为 33.33% */
  --boxWidth: 33.33%;

  /* 375px-749px 宽度为 33.33% */
  @media screen and (min-width: 375px) and (max-width: 749px) {
    --boxWidth: 33.33%;
  }
  /* 750px-991px 宽度为 25% */
  @media screen and (min-width: 750px) and (max-width: 991px) {
    --boxWidth: 25%;
  }
  /* 992px-1199px 宽度为 20% */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    --boxWidth: 20%;
  }
  /* 1200px以上 宽度为 15% */
  @media screen and (min-width: 1200px) {
    --boxWidth: 15%;
  }
}

/* 单行文本溢出... */
.one-line-ellipsis {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
